<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>
    <h1>Hello world!</h1>
    <a th:href="@{/testMapping}">测试</a>
    <form th:action="@{/test/testMethod}" method="get">
        <input type="submit" value="测试RequestMapping的Method属性（method=get）">
    </form>
    <form th:action="@{/test/testMethod}" method="post">
        <input type="submit" value="测试RequestMapping的Method属性（method=post）">
    </form>
    <a th:href="@{/test/testParams?username=ylei}">测试RequestMapping的参数(username=ylei1)</a><br>
    <a th:href="@{/test/testParams?password=12345}">测试RequestMapping的参数(password=12345)</a><br>
    <a th:href="@{/test/testGetParams?username=ylei&password=12345}">测试获取请求参数(username=ylei1,password=12345)</a><br>
    <a th:href="@{/test/testRestful/1}">测试Restful API</a><br>
    <a th:href="@{/test/testRestful/1/ylei1}">测试Restful API(id+username)</a><br>
    <a th:href="@{/test/testCookie}">测试Cookie</a><br>
    <a th:href="@{/test/testGetParamsUsePOJO?username=ylei&password=12345}">测试通过POJO获取请求参数(username=ylei1,password=12345)</a><br>
    <a th:href="@{/test/testRequestScopeUseServlet}">testRequestScopeUseServlet</a><br>
    <a th:href="@{/test/testRequestScopeUseModelAndView}">testRequestScopeUseModelAndView</a><br>
    <a th:href="@{/test/testRequestScopeUseMap}">testRequestScopeUseMap</a><br>
    <a th:href="@{/test/testRequestScopeUseModelMap}">testRequestScopeUseModelMap</a><br>
    <a th:href="@{/test/testSessionScopeUseServlet}">testSessionScopeUseServlet</a><br>
</body>
</html>